* {
	font-family: Roboto;
	margin: 0;
	box-sizing: border-box;
}

.TODO {
	color: red;
}

body {
	background-color: #F0FFF0;
}

header {
	padding: 12px 24px;
	color: #FFF;
	background-color: #000;
	position: fixed;
	width: 100vw;
	height: 48px;
	z-index: 10000;
	text-align: center;
}

header h1 {
	font-size: 14pt;
	margin-left: 15vw;
}

h1, h2, h3, h4, h5 {
	text-align: left;
}

main {
	padding: 24px;
	width: 70vw;
	background-color: #FFF;
	margin-left: 15vw;
	box-shadow: 0 -16px 16px 0 rgba(0, 0, 0, 0.03), 0 -16px 16px 0 rgba(0, 0, 0, 0.03);
}

svg {
	width: 100%;
	height: 90vh;
}

svg.small_viz {
	height: 220px;
}

/*SECTION*/
.section {
	text-align: center;
}

.section h2 {
	top: 48px;
	position: sticky;
	background-color: #FFF;
	padding: 4px 0;
	text-align: left;
	font-family: 'IBM Plex Serif';
}

.section h5 {
	font-family: 'IBM Plex Serif';
	margin-top: 12pt;
}

.texts {
	margin: 4px 0;
	width: 100%;
	max-width: 600px;
	text-align: left;
}

.texts p {
	font-family: 'IBM Plex Serif';
}


/*LEGENDS*/
#group_legend {
	display: block;
	position: fixed;
	right: 12px;
	bottom: 12px;
	padding: 16px;
	background-color: #000;
	color: #FFF;
	border-radius: 4px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
}

#group_legend h5 {
	font-size: 11pt
	font-weight: 700;
	margin-top: 0;
	font-family: 'Roboto';
}

#group_legend p {
	font-size: 10pt;
	font-weight: 300;
}

#legend {
	display: block;
	position: fixed;
	left: 12px;
	top: 98px;
	padding: 16px;
	background-color: #000;
	color: #FFF;
	border-radius: 4px;
	width: 162px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

#legend h5 {
	margin: 0;
	font-family: 'Roboto';
}

#legend.hidden {
	display: none;
}

.legend_info {
	margin-top: 4pt;
	text-align: left;
}

.legend_info h5 {
	/*text-decoration: underline;*/
	font-weight: 700; 
	margin: 0;
}

.legend_info p {
	font-size: 10pt;
}

span.material-icons {
	font-size: 10pt;
}

/*VIZ*/
.node {
	font-family: Roboto Condensed;
	font-size: 11pt;
	cursor: pointer; 
	letter-spacing: .8pt;
	font-weight: 500;
}

.focused text{
	opacity: .5;
	font-weight: 300;
}

.focused .selected {
	opacity: 1;
	font-weight: 700;
}

path.colorin {
	stroke: #4169E1;
	opacity: 1;
}
text.colorin {
	/*fill: #4169E1;*/
	font-weight: 700;
	opacity: 1;
}

path.colorout {
	stroke: #FA8072;
	opacity: 1;
}
text.colorout {
	/*fill: #FA8072;*/
	font-weight: 700;
	opacity: 1;
}
/*["#8dd3c7","#ffffb3","#bebada","#fb8072","#80b1d3","#fdb462","#b3de69","#fccde5","#d9d9d9","#bc80bd","#ccebc5","#ffed6f"]*/
/*["#4e79a7","#f28e2c","#e15759","#76b7b2","#59a14f","#edc949","#af7aa1","#ff9da7","#9c755f","#bab0ab"]*/
.g_0 {
	fill: #6e6dbb;
	color: #6e6dbb;
}

.g_1 {
	fill: #f28e2c;
	color: #f28e2c;
}

.g_2 {
	fill: #e467a7;
	color: #e467a7;
}

.g_3 {
	fill: #76b7b2;
	color: #76b7b2;
}

.g_4 {
	fill: #59a14f;
	color: #59a14f;
}

.g_5 {
	fill: #edc949;
	color: #edc949;
}

.g_6 {
	fill: #af7aa1;
	color: #af7aa1;
}

.g_7 {
	fill: #ffb7be;
	color: #ffb7be;
}

.g_8 {
	fill: #9c755f;
	color: #9c755f;
}

.g_9 {
	fill: #9fd415;
	color: #9fd415;
}

.no_g {
	fill: #ccc;
	color: #ccc;
}
